[submodule "NextGengineCore/lib/glfw"]
	path = NextGengineCore/lib/glfw
	url = https://github.com/glfw/glfw
[submodule "NextGengineCore/lib/glm"]
	path = NextGengineCore/lib/glm
	url = https://github.com/g-truc/glm
[submodule "NextGengineCore/lib/KTX-Software"]
	path = NextGengineCore/lib/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software
[submodule "NextGengineCore/lib/tinygltf"]
	path = NextGengineCore/lib/tinygltf
	url = https://github.com/syoyo/tinygltf.git
