[submodule "NgMath"]
	path = NgMath
	url = https://github.com/turbotage/NgMath.git
[submodule "NextGengine/lib/glfw"]
	path = NextGengine/lib/glfw
	url = https://github.com/glfw/glfw
[submodule "NextGengine/lib/gli"]
	path = NextGengine/lib/gli
	url = https://github.com/g-truc/gli
[submodule "NextGengine/lib/glm"]
	path = NextGengine/lib/glm
	url = https://github.com/g-truc/glm
[submodule "NextGengine/lib/KTX-Software"]
	path = NextGengine/lib/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software
